<!DOCTYPE html>
<html>
<head>
    <title>Вакансії</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }
      </style>
    <h1>Пошук ваших вакансій</h1>
    <form action="/scrape" method="POST">
    <p>Select a job position:</p>
    <button type="submit" name="position" value="Python">Python</button>
    <button type="submit" name="position" value="JavaScript">JavaScript</button>
    <button type="submit" name="position" value="Fullstack">FullStack</button>
    <button type="submit" name="position" value="PHP">PHP</button>
    <button type="submit" name="position" value="Embedded">Embedded</button>
    <button type="submit" name="position" value="QA">QA</button>
    <button type="submit" name="position" value="Sales">Sales</button>
    <button type="submit" name="position" value="Support">Customer/Techical Support</button>
    </form>
</body>
</html>